h1 {
    padding:20px;
}

textarea {
    min-height: 100px;
}

.post {
    background-color: white;
    padding: 20px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
}
